<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Feito no dia 24 de março de 2018, no evento Django Girls que aconteceu no Instituto Federal de Alagoas - Campus Arapiraca.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Meeu segundo post</a></h2>
            <p>Oi, não sei o que escrever. Mas isso é só um teste.</p>
        </div>
    </body>
</html>